/.bash_history
/.bash_logout
/.bashrc
/.cache
/.codeoss
/.config
/.docker
/.gitconfig
/.ipython
/.jupyter
/.local
/.npm
/.profile
/.redhat
/.sqlite_history
/.sudo_as_admin_successful
/.theia
/.viminfo
/.vscode
/.wget-hsts
/README-cloudshell.txt
/ccbp-ide
/django
/exp3
/exp4
/gita
/gopath
/linux
/node_
/node_js
/node_prac
/nodejs
/os
/osipc
/package-lock.json
/pracos
/pracpy
/practice
/pyth
/reactjs